.history
  .cd-timeline-header
    h2#Experenice Experience
    hr.bar

  section#cd-timeline.cd-container
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading Brigham Young University Graduate
          P
            | I graduate April 2022 from BYU with a major in Mechanical Engineering, and two minors in Computer Science and Mandarin Chinese. My engineering coursework has focused on Robotics, Automation, Machine Learning, and Controls.

          span.cd-date 2017-2022
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-movie
          img(src="../assets/img/leadership-svgrepo-com.svg", alt="College")
        // cd-timeline-img
        .cd-timeline-content
          h2 Leadership and Extracurricular Activities
          p
            | Throughout the last 1.5 years of my collegiate career I joined the BYU Mars Rover team, and contributed to the design of a full mock-Mars Rover to compete in an international competition (URC). My senior year I acted as the BYU Mars Rover Team Lead, providing leadership and direction to a team of 28 student engineers. Outside of BYU Mars Rover, I was also involved in the BYU Rocketry Club, BYU China Conference, YServe and more on-campus groups. 
          span.cd-date Jan 2021 - Apr 2022
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/research-svgrepo-com.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Software Developer
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.

          span.cd-date May 2013 - September 2014
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/graduate38.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Computer Science School
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.

          span.cd-date Sept 2014 - Sept 2015
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/hosting.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Integration Engineer with Example
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.

          span.cd-date May 2015 - Current
        // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src="../assets/img/question30.svg", alt="Location")
        // cd-timeline

  .cd-timeline-header
    h2
